[submodule "common"]
	path = common
	url = https://github.com/Packet-Batch/PB-Common.git
[submodule "tests"]
	path = tests
	url = https://github.com/Packet-Batch/PB-Tests.git
[submodule "The-DPDK-Common"]
	path = The-DPDK-Common
	url = https://github.com/gamemann/The-DPDK-Common
